server:
  port: ${PORT}
  
spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
      - id: user-service
        uri: lb://user-service
        predicates:
        - Path=/user-service/**
        filters:
        - RewritePath=/user-service/(?<path>.*), /$\{path}
      - id: event-service
        uri: lb://event-service
        predicates:
        - Path=/event-service/**
        filters:
        - RewritePath=/event-service/(?<path>.*), /$\{path}
      - id: payment-service
        uri: lb://payment-service
        predicates:
        - Path=/payment-service/**
        filters:
        - RewritePath=/payment-service/(?<path>.*), /$\{path}
      - id: notification-service
        uri: lb://notification-service
        predicates:
        - Path=/notification-service/**
        filters:
        - RewritePath=/notification-service/(?<path>.*), /$\{path}
      - id: openapi
        uri: lb://api-gateway
        predicates:
        - Path=/v3/api-docs/**
        filters:
        - RewritePath=/v3/api-docs/(?<path>.*), /$\{path}/v3/api-docs # Rescreve o caminho /v3/api-docs/{SERVICE_NAME} como /{SERVICE_NAME}/v3/api-docs
        
eureka:
  client:
    service-url:
      defaultZone: ${PROD_EUREKA_DEFAULTZONE}
      
management:
  endpoints:
    web:
      exposure:
        include:
          - health
  tracing:
    sampling:
      probability: 1.0     
